body {
    background: #f5f5f5;
}

section{
    background: #ffff;
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    margin-top: 20px;
    min-width: 800px;
}

.profile_photo {
    width: 300px;
    justify-content: left;
    margin: 10px;
}


.info {
    justify-content: space-around;
}

.about{
    margin-left: 80px;
}

.name {
    font-size: 40px;
    font-weight: bold;
}

.text {
    font-family: 'Rubik', sans-serif;
}

.table {
    margin-top: 20px;
}

/* Education*/

.fa, .fas{
    font-size: 35px;
    position: absolute;
    margin-top: 20px;
    margin-left: 40px;
}

.icon{
    width: 80px;
    justify-content: left;
}

.job{
    margin-left: 80px;
}

progress[value]{
    width: 100%;
}

.skill{
    display: block;
    margin-top: 10px;
    margin-bottom: 30px;
}
.header{
    margin-left: 400px;
    text-align: center;
}

.skills{
    margin-left: 60px;
}